.navMain {
    display: flex;
    position: relative;
    justify-content: space-between;
    
    &__list {
        display: flex;
        gap: 80px;
        margin: 0 20px 0 0;
        padding: 30px;
        flex-flow: row;
        list-style: none;
        
        &__item {
            display: flex;
            text-align: center;

            button {
                border: none;
                background: none;
                text-decoration: none;
                font-family: "Noto Serif", serif;
                color: $violet;
                font-size: 2.8rem;
                text-transform: uppercase;
            }
        }
    }
}