.navMain {
    position: relative;
    background-color: white;

    &__list {
        display: flex;
        justify-content: flex-end;
        gap: 80px;
        margin: 0 50px 0 0;
        padding: 30px;
        flex-flow: row;
        list-style: none;
        
        &__item {
            a {
                text-decoration: none;
                color: pink;
                font-size: 2.1em;
            }
        }
    }
}