.navMain {
    display: flex;
    position: relative;
    justify-content: space-between;
    
    &__list {
        display: flex;
        gap: 80px;
        margin: 0 20px 0 0;
        padding: 30px;
        flex-flow: row;
        list-style: none;
        
        &__item {
            display: flex;
            text-align: center;

            button {
                border: none;
                background: none;
                text-decoration: none;
            }


            p {
                position: relative; 
                font-family: "Noto Serif", serif;
                color: $violet;
                font-size: 2.4rem;
                text-transform: uppercase;
                transition: color .3s;

                &:hover {
                    color: $lavender;
                    &::after {
                        width: 30px;
                    }
                }

                &::after {
                    content:'';
                    position: absolute;
                    display: block;
                    bottom: -3px;
                    background-color: $lavender; 
                    width: 0%; 
                    height: 2px;
                    transition: .3s;
                }
            }
        }
    }
}