.home {
    height: 100vh;
    margin:0;
    padding:0;
    background: linear-gradient(to right, $lavender, $white);
}

.logo {
    max-width: 140px;

}

.home-wrapper {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 85%;
    height: auto;
    margin: auto;
    align-items: center;

    &__left {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex: .5;

        h1 {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-family: "Noto Serif", serif;
            color: $white;
            font-size: 7.1rem;
            font-weight: 400;
            text-transform: uppercase;
        }

        p {
            display: block;
            font-family: "Noto Serif", serif;
            color: $violet;
            font-size: 5.1rem;

            span {
                display: block;
                color: $white;
            }
        }
    }

    &__right {
        flex: 1;
    }
}