.home {
    height: 100vh;
    margin:0;
    padding:0;
    background: linear-gradient(to right, $medium, $white);
}

.logo {
    max-width: 140px;
}



.home-wrapper {
    display: flex;
    position: relative;
    width: 90%;
    padding: 0 0 0 5vw;
    margin-top: 20px;
    gap: 50px;

    &__left {
        flex: 0 1 45%;
        width: 30%;
        height: 440px;
        max-height: 600px;
        border-top: 2px solid $white;
        border-bottom: 2px solid $white;

        h1 {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-family: "Noto Serif", serif;
            margin-top: 20px;
            color: $white;
            font-size: 6.1rem;
            font-weight: 400;
            text-transform: uppercase;
        }

        p {
            display: block;
            font-family: "Noto Serif", serif;
            color: $violet;
            font-size: 4.1rem;
            margin-top: 3rem;

            span {
                display: block;
                color: $white;
            }
        }

        .arrowDown {
            display: block;
            position: absolute;
            max-width: 100px;
            bottom: -90px;
            left: 300px;
        }
    }

    &__right {
        display: flex;
        width: 600px;
        &__working_girl {
            display: flex;
            width: 100%;
            aspect-ratio: 4/3;
        }
    }
}